@font-face {
    font-family: 'ubuntu';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local(''), 
    url('/fonts/ubuntu-v15-latin-700.woff') format('woff'),
    url('/fonts/ubuntu-v15-latin-700.woff2') format('woff2');
}

@font-face {
    font-family: 'ubuntu';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local(''),
    url('/fonts/ubuntu-v15-latin-regular.woff') format('woff')
    url('/fonts/ubuntu-v15-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'overpass';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local(''),
    url('/fonts/overpass-v7-latin-regular.woff') format('woff'),
    url('/fonts/overpass-v7-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'overpass';
    font-weight: 600;
    font-display: swap;
    font-style: normal;
    src: local(''),
    url('/fonts/overpass-v7-latin-600.woff') format('woff'),
    url('/fonts/overpass-v7-latin-600.woff2') format('woff2');
}

@font-face {
    font-family: 'overpass';
    font-weight: 300;
    font-display: swap;
    font-style: normal;
    src: local(''),
    url('/fonts/overpass-v7-latin-300.woff') format('woff'),
    url('/fonts/overpass-v7-latin-300.woff2') format('woff2');
}